// Couleurs
:root{
	--gray-100: #09151B;
	--gray-60: #818D93;
	--gray-45: #9FABB1;
	--gray-15: #E8F0F3;
	--red-100: #f1122c;
	--color-green-400: #2D4239;
	--color-white: #FFF;
	--color-purple: #ECDAFF;
	--color-background: #FFFAEC;
}